<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know Logic</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- <================= Start of Navbar ===================> -->
    <div id="navbar2">
        <div class="navIconMain">
          <h2 class="navLogo">Know Logic</h2>
        </div>
        <ul class="navMain">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">Latest</a></li>
          <li><a href="#services">Tech</a></li>
          <li><a href="#projects">Science</a></li>
          <li><a href="#work">Culture</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <img class="navImg" src="./icons/nav_icon_1.png" alt="nav_icon" />
        <img class="navImg2" src="./icons/nav_icon_2.png" alt="nav_icon" />
      </div>
      <!-- <================= End of Navbar ===================> -->
    

      <script src="./app.js"></script>
</body>
</html>